* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(44, 48, 51);
    color: white;
    padding: 0;
    margin: 0;
}
hr.inserted {
    display: none;
}
.header {
    background: rgb(59, 65, 70);
    padding: 10px;
    h1 {
        font-size: 2.5em;
        margin-top: 0;
    }
}

.submit-values {
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    border: 1px solid white;
    background: rgb(44, 48, 51);
    padding: 10px;

    &.show {
        display: block;
    }
}

.case {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid rgb(125, 138, 149);

    .case-display {
        padding-bottom: 10px;

        label {
            margin-bottom: 5px;
        }
        input {
            background: rgb(59, 65, 70);
            border: 1px solid rgb(125, 138, 149);
            border-radius: 5px;
            padding: 10px;
            min-width: 300px;
            color: white;
            margin-bottom: 10px;

            &:focus {
                outline-color: white;
            }
        }
        
        button {
            height: 40px;
            vertical-align: middle;
            border: 1px solid rgb(125, 138, 149);
            border-radius: 5px;
            text-transform: uppercase;
            background: rgba(0, 0, 0, 0);
            color: white;
            
            &:hover,
            &:focus,
            &:active {
                background: rgba(0, 0, 0, 0.3);
            }
            
            &[type=submit] {
                background: white;
                color: rgb(44, 48, 51);

                &:hover,
                &:focus,
                &:active {
                    background: rgb(191, 194, 195);
                    // color: white;
                }
            }

            &:disabled {
                opacity: 0.5;
            }

        }

    }

    .case-code {
        h4 {
            background: rgb(29, 31, 33);
            padding: 10px;
            margin: 0;
        }
        pre {
            margin: 0;
        }
    }
}

a {
    &,
    &:active,
    &:hover,
    &:visited {
        color: white;
    }
}

.case-display,
.case-code {
    width: 100%;
    padding: 5px;
}

/* 
Com uma largura mínima de 992 pixels. Monitores por exemplo.
*/
@media screen and (min-width: 992px) {
    .case-display {
        float: left;
        width: 30%;
    }
    .case-code {
        float: left;
        width: 70%;
    }
}

.clearfix:after {
    display: block;
    content: "";
    clear: both;
}

.json-code {
    border: 1px solid rgb(125, 138, 149);
    margin-bottom: 10px;

    .json-children {
        background: rgb(29, 31, 33);
        padding: 10px;
    }
    h4 {
        background: rgb(29, 31, 33);
        padding: 10px;
        margin: 0;
    }
    pre {
        margin: 0;
    }
}